body {
  background: linear-gradient(135deg, #3B4C73, #1F2D3E);
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.container {
  display: flex;
  height: 100vh;
  padding: 20px;
}

.form-builder-area {
  flex-grow: 1;
  border: 2px dashed #ddd;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  min-height: 400px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: red; */
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.sidebar .item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.sidebar .item i {
  margin-right: 10px;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button.clear {
  background-color: #dc3545;
  color: #fff;
}

button.save {
  background-color: #28a745;
  color: #fff;
}

button.code {
  background-color: #007bff;
  color: #fff;
}
